<div class="home-form-w3ls mt-5">
    <form action="#" method="post">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="Ad" placeholder="Ad"
                           required="">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="Soyad" placeholder="Soyad"
                           required="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="Telefon" placeholder="Telefon Numarası"
                           required="">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="Mesaj" placeholder="Mesaj" required=""></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn_apt btn">Gönder</button>
    </form>
</div>
